
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary" (click)="goToProfesor()">Ir a Profesor</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Sprint 1: CRUD de users con Angular</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>Bienvenido a la Página de Inicio de la aplicación Teachme. (Provisional)</p>
    </div>
  </div>
  <router-outlet></router-outlet> <!-- Asegúrate de que esto esté aquí -->

</div>